<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>

    <header class="header">
        {% block header %}
        {% endblock %}
    </header>

    <div class="main">
        {% block main %}
        {% endblock %}
    </div>

</body>
</html>
