{% extends "base.html" %}


{% block head %}
    <link rel="stylesheet" href="../static/style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
{% block header %}
    POST HEADER
{% endblock %}


{% block main %}
    <section class="jeff">
        {{ post_content|safe }}
    </section>
{% endblock %}
